* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

main {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 75% 25%;
}

nav {
    padding: 1em 0 1em;
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-family: "Fjalla One";
    font-style: normal;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}

footer {
    width: auto;
    /* margin-top: 2em; */
    padding: 1em;
    background-color: black;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: "Fjalla One";
    font-style: normal;
}

.header-content {
    width: auto;
    height: 100px;
    background-color: #414f62;
    padding-top: 2em;
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: #d1d0ad;
    text-align: center;
}

.title-name {
    color: #fff957;
}

.title {
    /* margin: 1.5em 1.5em 0 1.5em; */
    padding: 1.3em;
    background-color: #192A48;
    border: solid 5px #192A48;
    border-radius: 1em 1em 0 0;
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

.main-card, .side-card {
    width: auto;
    height: 100%;
    background-color: #A59FAF;
    border: solid 1px #192A48;
    border-radius: 1em;
}

.main-card {
    margin-right: 0.75em;
    margin-left: 1.5em;
}

.about-me {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1.5em 2em 2em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.about-me p {
    font-size: 1em;
    line-height: 1.6em;
    padding-right: 1em;
}

.home-town {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
}

.sub-title {
    margin: 1em;
    width: 80%;
    padding-right: 1em;
    padding-bottom: 0.5em;
    justify-self: center;
    text-align: center;
    border-bottom: solid 1px #192A48;
}

.home-town p {
    font-size: 1em;
    padding-left: 1em;
}

.side-card {
    margin-right: 1.5em;
    margin-left: 0.75em;;
}

.resources {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    height: 80%; /* Ensure the container takes up the full height */
}

ul {
    padding: 0 2em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6em;
    align-items: center;
    list-style-position: inside;
}

ul a {
    text-decoration: none;
    color: #000000;
}