* {
    font-family: 'Roboto', sans-serif;
    justify-self: center;
    margin: 1rem auto;
}

header, main, footer {
    background-color: #C8E9FF;
    max-width: 640px;
    padding: 0 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}